:root {
  --green: #499970;
  --green-bright: #3cb878;
  --logo-grey: #707070;
  --black: #131313;
  --light-grey: #FAFAFC;
}
@font-face {
  font-family: 'Milkshake';
  src: url('./static/Milkshake.woff2') format('woff2'),
      url('./static/Milkshake.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('./static/ProximaNova-Regular.woff2') format('woff2'),
      url('./static/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
  font-size: 10px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  line-height: 2;
  font-family: 'Proxima Nova';
}
a {
  text-decoration: none;
  color: var(--black);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}